################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

*.dep
*.idb
*.obj
*.pch
*.pdb
*.res
*.ilk
*.ncb
*.aps
*.user
*.clw
*.map
*.tlb
*.tli
*.tlh
*.exe
*.bsc
*.suo
*.sbr
*.sdf
*.rsp
*.plg
*.opt
*.bak
*.tmp
desktop.ini
*.lastbuildstate
*.log
*.manifest
*manifest
*release
*debug
*.opt
*.plg
*.vshost
*.vshost.exe.manifest
*.db
*.cof
obj
ipch
.ntvs_analysis.dat
.vs
*.o
*.lo
*.la
*.al
.libs
*.so
*.so.[0-9]*
*.a
*.pyc
*.pyo
__pycache__
*.rej
*~ #*#
.#*
.*.swp
.DS_Store
[Tt]humbs.db
x64
[Dd]oxyfile
